@media (max-width: 480px) {
  .allComponent {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
  }
}


@media (min-width: 481px) {
  .allComponent {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    column-gap: 20px;

  }
}



.sidebar {
  width: 304px;
  padding: 24px;
  height: 423px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  line-height: 20px;
  font-size: 22px;
}

.menu {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.link {
  color: var(--dark-sea);
  font-size: 22px;
  line-height: 17px;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
}

.link:hover {
  color: var(--white);
}

.link.active {
  color: var(--violet);
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.socials {
  display: flex;
  gap: 15px;
}

.socials svg {
  width: 24px;
  height: 24px;
  fill: var(--dark-sea);
}

.socials svg:hover {
  fill: var(--violet);
}

.name {
  padding: 3px 0 0 6px;
}